
	.search  {
			padding-left: 30px;
		}
		
		#user_username{
			margin-bottom: 15px;
		}
		
		#user_password{
			margin-bottom: 15px;
		}
		
		#user_remember_me{
			float: left; 
			margin-right: 10px;
		}
		
		.sign-in-btn {
			clear: left;
			 width: 100%; 
			 height: 32px; 
			 font-size: 13px
		} 
		
		.sign-in-dropdown{
			padding: 15px; 
			padding-bottom: 0px;
		}
	
